<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
            <h1><span>{{ page.header.title }}</span></h1>
        </div>
        <div class="ten columns">
            <p class="lead">{{ page.header.lead }}</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            {{ page.content }}
            {% include "forms/form.html.twig" %}
        </div>
        <aside class="four columns footer-widgets">
            {% for widget in page.header.widgets %}
            <div class="widget widget_contact">
                <h4>{{ widget.title }}</h4>
                <p class="address">
                    {% for item in widget.content %}
                    {{ item.line }} <br />
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
            {% if theme.social %}
                {% for item in theme.social %}
                    {% if item.icon == 'twitter' %}
                        {% set twitter_handle = (item.url | split('twitter.com/'))[1] %}
                        <div class="widget widget_tweets">
                            <a class="twitter-timeline" data-theme="dark" data-link-color="#11ABB0"
                               href="https://twitter.com/{{ twitter_handle }}">Tweets by {{ twitter_handle }}</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </aside>
    </div>
</section>
