<header id="home" {% if theme.background %}style="background-image: url('{{ theme.background|keys[0] }}')"{% endif %}>
  {% block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">{{ theme.title }}</h1>
      <h3>{{ theme.description|markdown }}</h3>
      <hr />
      {% if theme.social %}
      <ul class="social">
        {% for item in theme.social %}
        <li><a href="{{ item.url }}"><i class="fa fa-{{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
  </p>
</header>
